<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>



<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>
<body>
    
    <script>



$.get(url_site, null, function(text){
    
 var node =   $(text).find(".xpdopen");
 var copy = node.clone(true);

 var target = document.getElementById("search");

 target.appendChild(copy);
});
       




//https://www.google.com/search?q=donald+trump&kponly&kgmid=/m/0cqt90&key=AIzaSyD_6bOqsyts7K1NOUarvvY7CxQ5DzqZI6A&limit=1

</script>


</body>
</html>